* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.header-bg{
    background-image: url(sample-image.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 28px;
    color: #00ff00;
}

.logo span {
    color: #00cc99;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00cc99;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    background-color: #fff;
}

.hero .content {
    max-width: 500px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #00ff00;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #00cc99;
}

